---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* added by cheolsoo.kim 2023.01.23 */
html {
    font-size: 0.75em;

    @include breakpoint($medium) {
        font-size: 1em;
    }

    @include breakpoint($large) {
        font-size: 1em;
    }

    @include breakpoint($x-large) {
        font-size: 1em;
    }
}

body {
    color: #afafad;
    //font-size:9pt;
    //font-family:굴림;
}

/* added by cskim 2023.01.25 */
/*
.greedy-nav .visible-links a:before {
    background-color: red;
  }
  */

a:link { color:#000000; text-decoration: none; }
a:visited { color:#000000; text-decoration: none; }
//a:hover { text-decoration: none; }
//a:hover { color:#909564; }
a:hover { color:#ea0437; text-decoration: none; }
//a:hover { background-color:yellow; }
a:active { color:#000000; text-decoration: none; }